<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="browser" value="ch"/>
    <add key="url" value="https://demo.openemr.io/b/openemr/interface/login/login.php?site=default"/>
  </appSettings>
  
  <connectionStrings>
    <add name="bala" connectionString="Data Source=BALAJI\BALAJISQL;Initial Catalog=MagentoDB;User ID=sa;Password=123456;Integrated Security=True" />
  </connectionStrings>
  
</configuration>